:root {
  --breakpoint-l: 1440px;
  --breakpoint-m: 768px;
  --breakpoint-s: 360px;

  --primary-blue: rgb(5, 120, 255);
  --primary-blue-10: rgba(5, 120, 255, 0.1);
  --primary-black: #202020;
  --primary-black-50: #20202088;
  --primary-black-50: rgba(32, 32, 32, 0.5);
  --primary-grey: #90a3bf;
  --primary-grey-50: #90a3bf88;
  --yellow: #ffc501;
  --gradient-white: #f5f5f5;
  --gradient-blue: #ddecff;
  --white: #fff;

  --layout-margin: 4em;
  --layout-margin-neg: -4em;
  --layout-gutter: 2em;
  --layout-col-width: calc(100vw - var(--layout-margin) * 2 - var(--layout-gutter) * 11);
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: var(--primary-black);
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0px var(--layout-margin);
  background: linear-gradient(var(--gradient-white), var(--gradient-blue), var(--gradient-white));
}

main,
section {
  width: 100%;
  padding: 0;
  margin: 0;
}

h1,
h2 {
  font-size: 4em;
  font-weight: bold;
  margin: 0;
}

@media screen and (min-width: 768) and (max-width: 1439px) {
  :root {
    --layout-margin: 32px;
    --layout-gutter: 24px;
    --layout-col-width: calc(100vw - var(--layout-margin) * 2 - var(--layout-gutter) * 5);
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  :root {
    --layout-margin: 20px;
    --layout-gutter: 20px;
    --layout-col-width: calc(100vw - var(--layout-margin) * 2);
  }
}
