header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px 0;
}

.logo {
  display: flex;
  gap: 5px;
  align-items: center;
}

.logo__image {
}

.logo__text {
  font-size: 34px;
}

.header__nav {
  display: flex;
  justify-content: flex-end;
}

.header__nav-list {
  list-style: none;
  display: flex;
  gap: 70px;
  padding: 0;
  margin: 0;
}

.header__nav-list-item {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__nav-link {
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}
